html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #D7CCD3;
	font-size: 16px;
	margin:0;
}

section{
	background-color: #00000075;
	height: 100%;
}

header{
	background-color: #a07d93d6;
    width: 100%;
    display: flex;
    height: 50px;
    position: fixed;
    top: 0;
}

.header-item {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    right: 25px;
    position: relative;
    left: 73%;
}

#about{
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 115vh;
	color: #466C68;
	margin-top: -75px;
}

#about a{
	color: #466C68;
	text-decoration: none;
}

.home{
	font-size: 20px;
	font-weight: 500;
	margin: 10px;
	color: #fff;
	position: absolute;
	left: 20px;
}

.container{
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 12%;
}

.title{
	color: #875876;
	font-size: 55px;
	text-align: center;
}

.subtitle{
	color: #fff;
	font-size: 55px;
	text-align: center;
	padding-top: 8%;
}

.me{
	width: 30%;
	border-radius: 50%;
	margin: auto;
}

.contacts{
	margin-top: -6px;
}

.contacts a {
	color: #839593;
	font-size: 30px;
	margin: 5px;
}

#skills{
	background-image: linear-gradient(to bottom, #a07d93, #a7879b, #ad90a3, #b49aab, #bba4b3);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

#courses{
	background-image: linear-gradient(to top, #a07d93, #a7879b, #ad90a3, #b49aab, #bba4b3);
    background-repeat: no-repeat;
    background-size: cover;
    height: 170vh;
}

.container1{
	width: 80%;
    text-align: left;
    margin: auto;
}

.skill-item{
	display: flex;
	margin-bottom: 10px;
}

.skill-title{
	font-size: 20px;
	font-weight: 500;
	width: 100px
}

/*  grid  */
.wrapper{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

.courses .wrapper{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.course-content{
	text-align: justify;
	padding: 5%;
}

.couse-content a {
	font-weight: 500;
	text-decoration: none;
	color: #839593;
}

.course-content:hover {
    -webkit-box-shadow: 7px 11px 28px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 11px 28px 5px rgba(0,0,0,0.75);
    box-shadow: 7px 11px 28px 5px rgba(0,0,0,0.75);
    width: 105%;
    height: 105%;
    background: #875876;
    z-index: 10;
}
